
<div class="left-sidebar">
    <h2>Category</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->


        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="@Url.Action("SearchProperty","Property", new { area = "", CategoryName = "House for Rent"})">House for Rent</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="@Url.Action("SearchProperty","Property", new { area = "", CategoryName = "Land for Lease"})">Land for Lease</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="@Url.Action("SearchProperty","Property", new { area = "", CategoryName = "Land for Sale"})">Land for Sale</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="@Url.Action("SearchProperty","Property", new { area = "", CategoryName = "House On Sale"})">House On Sale</a>
                </h4>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="@Url.Action("SearchProperty","Property", new { area = "", CategoryName = "Rent for Office"})">Rent for Office</a>
                </h4>
            </div>
        </div>

    </div><!--/category-products-->


    <div class="shipping text-center">
        <!--shipping-->
        <img src="~/Themes/site/images/houses/advertise hetre banner.png" alt="Adversite Here" />
    </div><!--/shipping-->

</div>
