@model AngularMVC.DAL.Property_Detail

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    
    <input type="hidden" id="test" value="@Model.ExpiredDate"/>
    <input type="hidden" id="start" value="@Model.PublishedDate" />
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">House on Sale</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Land on Sale</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Appartments</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Rents</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Vehicals</a></h4>
                            </div>
                        </div>
                        
                    </div><!--/category-products-->


                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="~/Themes/site/images/houses/advertise hetre banner.png" alt="Advertise Here" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img style="height:350px;width:400px;" src="@Url.Content("~/Upload/Property/" + Model.img1 )" alt="@Model.Title" title="@Model.Title" />
                            <h3>@Model.Category</h3>
                        </div>
                        <input type="hidden" id="address" value="@Model.City, @Model.District, @Model.Country" />
                        <div class="Button">
                            <button id="btnaddress" class="btn btn-default get" onclick="UpdateMap()" type="button" data-toggle="collapse" data-target="#mapcollapseExample" aria-expanded="false" aria-controls="collapseExample">
                               Show on Map
                            </button>
                            <span class="btn btn-default get" style="background:#66B67B">@Model.City, @Model.District, @Model.Country</span>
                        </div>
                        <div id='map-canvas'></div><br />
                        @*<div>

                            <input type="hidden" id="address" value="@Model.City, @Model.Country" />
                            <button onclick="UpdateMap()" class="btn btn-primary">Show on map</button>


                        </div>*@
                    
                    </div>
                    @*<div class="col-sm-7">
                        <div class="collapse" id="mapcollapseExample">
                            <div class="well">
                                <div id='map-canvas'></div><br />
                                <div>
                                    
                                    <input type="hidden" id="address" value="@Model.City, @Model.Country"/>
                                    <button onclick="UpdateMap()" class="btn btn-primary">Show on map</button>


                                </div>

                            </div>
                        </div>
                    </div>*@
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->

                            
                           
                            @{
                                if (Model.isbiddingstarted != false)
                                {
                                    if (Model.AllowAuction == true)
                                    {
                                        if (Model.IsApplyLocked != true)
                                        {
                                    <h3 style="color:#66B67B">
                                        Bidding Expires On: <b>
                                            <h2>
                                                <span id="expire_date" class="badge">
                                                    @Model.ExpiredDate
                                                </span>
                                            </h2>
                                        </b>
                                    </h3>
                                    <br />

                                        <h1><span id="bid_timer" style="color:#f15f0a"></span></h1>
                                        }
                                        else
                                        {
                                        <h1 style="color:#EE3233"><b>Property SOLD.</b></h1>
                                        }

                                    }
                                    else
                                    {
                                    <h3 style="color:#3E819E"> Bidding Has Expired!!! on </h3> <b>
                                    <h2>
                                        <span id="expire_date" class="badge">
                                            @Model.ExpiredDate
                                        </span>
                                    </h2>
                                    </b>
                                    }
                                }
                                else//bidding has not started yet
                                {
                                    <h3 style="color:#66B67B">
                                        Bidding Will Start on: <b>
                                            <h2>
                                                <span id="expire_date" class="badge">
                                                    @Model.PublishedDate
                                                </span>
                                            </h2>
                                        </b>
                                    </h3>
                                    <br />

                                    <h1><span id="bid_timer" style="color:#f15f0a"></span></h1>
                                }
                            }





                            <h2>@Model.Title</h2>
                            <p><b>Address : <span id="currentaddress">@Model.City, @Model.Country</span></b></p>
                            @*<img src="~/Themes/site/images/product-details/rating.png" alt="@Model.Title" />*@
                            <div>
                                <span>
                                    Rs. @Convert.ToInt32(Model.Price)
                                </span>
                               
                                @*<button type="button" class="btn btn-default cart">
                                    <i class="fa fa-plus"></i>
                                    BID NOW
                                </button>*@
                                @{
                                        if (Model.IsApplyLocked == true)
                                        {
                                            <button class="btn btn-default cart" type="button" style="background-color:#EE3233">
                                                ALREADY SOLD
                                            </button>
                                    }
                                    else
                                    {
                                        if (Model.AllowAuction == true && Model.isbiddingstarted != false)
                                        {
                                            <button class="btn btn-default cart" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                BID NOW
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-default cart" type="button" style="background-color:#808080">
                                                BID OFF
                                            </button>
                                        }

                                    }

                                }
                                <a href="@Url.Action("DetailBidders","Property", new { area = "", PropertyId = Model.PropertyId})" class="btn btn-default cart" type="button"> See Bidders </a>

                                @*<div class="collapse" id="bidderscollapseExample">
                                    <div class="well">
                                        <table class="table table-condensed table-hover table-bordered table-responsive">
                                            <thead>
                                                <tr class="cart_menu">
                                                    <td class="image">User</td>
                                                    <td class="description">Bidding Price</td>    
                                                </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>*@
                                
                                
                                <div class="collapse" id="collapseExample">
                                    <div class="well">
                                        <form action="@Url.Action("BIDNOW", "Property", new { area = ""})" method="get" id="comment-form" class="form-horizontal" role="form">
                                            Bid on @Model.Title as : @User.Identity.Name
                                            
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <input type="number" value="@Convert.ToInt32(Model.Price)" class="form-control" id="Price" name="Price" required="required"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12" data-required>
                                                    <textarea placeholder="Your Message Here ..." name="Message" class="form-control" rows="5" required="required"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group" hidden>
                                                <div class="col-lg-12">
                                                    <input type="text" value="@Model.PropertyId" class="form-control" id="PropertyId" name="PropertyId" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <button class="btn btn-primary" type="submit"><i class="fa fa-comments-o"></i>BID NOW</button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                                
                            <a href=""><img src="~/Themes/site/images/product-details/share.png" class="share img-responsive" alt="" /></a>
                        </div><!--/product-information-->
                       
                    </div>
                </div><!--/product-details-->



                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">Recommended</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @foreach (var item in ViewBag.Recommended)
                                { <div class="col-sm-2 col-md-2 col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="@Url.Content("~/Upload/Property/thumb/" + Model.img1 )" alt="@item.Title" title="@item.Title" />
                                                <h2>Rs. @Convert.ToInt32(item.Price)</h2>
                                                <p>@item.Title</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>BID NOW</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                }

                            </div>

                        </div>

                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
   
</section>

    

@section scripts{

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZh9wDUWyBOZzo0wAON_2yEzIfKJlIakM&libraries=places&callback=InitAutocomplete"
        async defer></script>
    //google map scripts
<script>
    var map;


    function InitAutocomplete() {
        // Create a Google coordinate object for where to initially center the map
        var latlng = new google.maps.LatLng(27.704553, 85.307078);	// Washington, DC

        // Map options for how to display the Google map
        var mapOptions = { zoom: 12, center: latlng };

        // Show the Google map in the div with the attribute id 'map-canvas'.
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);


    }

    // Update the Google map for the user's inputted address
    function UpdateMap() {
        var geocoder = new google.maps.Geocoder();    // instantiate a geocoder object

        // Get the user's inputted address
        var address = document.getElementById('address').value;

        // Make asynchronous call to Google geocoding API
        geocoder.geocode({ 'address': address }, function (results, status) {
            var addr_type = results[0].types[0];	// type of address inputted that was geocoded
            if (status == google.maps.GeocoderStatus.OK)
                ShowLocation(results[0].geometry.location, address, addr_type);
            else
                alert("Geocode was not successful for the following reason: " + status);
        });
    }

    // Show the location (address) on the map.
    function ShowLocation(latlng, address, addr_type) {
        // Center the map at the specified location
        map.setCenter(latlng);

        // Set the zoom level according to the address level of detail the user specified
        var zoom = 12;
        switch (addr_type) {
            case "administrative_area_level_1": zoom = 6; break;		// user specified a state
            case "locality": zoom = 10; break;		// user specified a city/town
            case "street_address": zoom = 15; break;		// user specified a street address
        }
        map.setZoom(zoom);

        // Place a Google Marker at the same location as the map center
        // When you hover over the marker, it will display the title
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: address
        });

        // Create an InfoWindow for the marker
        var contentString = "" + address + "";	// HTML text to display in the InfoWindow
        var infowindow = new google.maps.InfoWindow({ content: contentString });

        // Set event to display the InfoWindow anchored to the marker when the marker is clicked.
        google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); });
    }
   google.maps.event.addDomListener(window, 'load', InitAutocomplete);

    </script>


    <script>
        function startTimer(duration, display) {
            var start = Date.now(),
                diff,
                days,
                hours,
                minutes,
                seconds;
            function timer() {
                // get the number of seconds that have elapsed since 
                // startTimer() was called
                diff = duration - (((Date.now() - start) / 1000) | 0);


                //// get total seconds between the times
                //var delta = Math.abs(date_future - date_now) / 1000;

                // calculate (and subtract) whole days
                days = Math.floor(diff / 86400);
                diff -= days * 86400;

                // calculate (and subtract) whole hours
                hours = Math.floor(diff / 3600) % 24;
                diff -= hours * 3600;

                // calculate (and subtract) whole minutes
                minutes = Math.floor(diff / 60) % 60;
                diff -= minutes * 60;

                // what's left is seconds
                seconds = Math.floor(diff % 60);  // in theory the modulus is not required

                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = days + "d :" + hours + " :" + minutes + " :" + seconds;

                if (diff <= 0) {
                    // add one second so that the count down starts at the full duration
                    // example 05:00 not 04:59
                    start = Date.now() + 1000;
                }
            };
            // we don't want to wait a full second before the timer starts
            timer();
            setInterval(timer, 1000);
        }


        var test = document.getElementById('test').value;
        var start = document.getElementById('start').value;
        var exp = new Date(test);
        var pub = new Date(start);
        var now = new Date();
        if (now < pub) {
            var difference = Math.abs(now - pub) / 1000;
            display = document.querySelector('#bid_timer');
            startTimer(difference, display);
        }
         else if(now <= exp && now >= pub){
               var difference = Math.abs(exp - now) / 1000;
               display = document.querySelector('#bid_timer');
               startTimer(difference, display);
           }
           
        
       
        </script>
    }
