@model AngularMVC.DAL.Property_Detail

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    
    <input type="hidden" id="test" value="@Model.ExpiredDate"/>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">House on Sale</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Land on Sale</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Appartments</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Rents</a></h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><a href="#">Vehicals</a></h4>
                            </div>
                        </div>
                        
                    </div><!--/category-products-->


                    <div class="shipping text-center">
                        <!--shipping-->
                        <img src="~/Themes/site/images/houses/advertise hetre banner.png" alt="Advertise Here" />
                    </div><!--/shipping-->

                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src="@Url.Content("~/Upload/Property/" + Model.img1 )" alt="@Model.Title" title="@Model.Title" />
                            <h3>@Model.Category</h3>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <!--/product-information-->

                            
                           
                            @{
                                if (Model.AllowAuction == true)
                                {
                                    if (Model.IsApplyLocked != true)
                                    {
                                    <h3>
                                        Bidding Expires On: <b>
                                            <h2>
                                                <span id="expire_date" class="badge">
                                                    @Model.ExpiredDate
                                                </span>
                                            </h2>
                                        </b>
                                    </h3>
                                    <br />
                                    
                                        <h1><span id="bid_timer" style="color:#f15f0a"></span></h1>
                                    }
                                    else
                                    {
                                        <h1><b>Property SOLD.</b></h1>
                                    }

                                }
                                else
                                {
                                    <h3> Bidding Has Expired!!! on </h3> <b>
                                    <h2>
                                        <span id="expire_date" class="badge">
                                            @Model.ExpiredDate
                                        </span>
                                    </h2>
                                    </b>
                                }
                            }

                           
                           


                            <h2>@Model.Title</h2>
                            <p>Address : @Model.City, @Model.Country</p>
                            <img src="~/Themes/site/images/product-details/rating.png" alt="@Model.Title" />
                            <div>
                                <span>
                                    Rs. @Convert.ToInt32(Model.Price)
                                </span>
                               
                                @*<button type="button" class="btn btn-default cart">
                                    <i class="fa fa-plus"></i>
                                    BID NOW
                                </button>*@
                                @{
                                        if (Model.IsApplyLocked == true)
                                        {
                                            <button class="btn btn-default cart" type="button" style="background-color:#e81b0b">
                                                ALREADY SOLD
                                            </button>
                                    }
                                    else
                                    {
                                        if (Model.AllowAuction == true)
                                        {
                                            <button class="btn btn-default cart" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                BID NOW
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-default cart" type="button" style="background-color:#808080">
                                                BID OFF
                                            </button>
                                        }

                                    }

                                }
                                
                                <div class="collapse" id="collapseExample">
                                    <div class="well">
                                        <form action="@Url.Action("BIDNOW", "Property", new { area = ""})" method="get" id="comment-form" class="form-horizontal" role="form">
                                            Bid on @Model.Title as : @User.Identity.Name
                                            
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <input type="number" value="@Convert.ToInt32(Model.Price)" class="form-control" id="Price" name="Price" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12" data-required>
                                                    <textarea placeholder="Your Message Here ..." name="Message" class="form-control" rows="5" required="required"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group" hidden>
                                                <div class="col-lg-12">
                                                    <input type="text" value="@Model.PropertyId" class="form-control" id="PropertyId" name="PropertyId" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-12">
                                                    <button class="btn btn-primary" type="submit"><i class="fa fa-comments-o"></i>BID NOW</button>

                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                                
                            <a href=""><img src="~/Themes/site/images/product-details/share.png" class="share img-responsive" alt="" /></a>
                        </div><!--/product-information-->
                       
                    </div>
                </div><!--/product-details-->



                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">Recommended</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @foreach (var item in ViewBag.Recommended)
                                { <div class="col-sm-2 col-md-2 col-sm-3">
                                    <div class="product-image-wrapper">
                                        <div class="single-products">
                                            <div class="productinfo text-center">
                                                <img src="@Url.Content("~/Upload/Property/thumb/" + Model.img1 )" alt="@item.Title" title="@item.Title" />
                                                <h2>Rs. @Convert.ToInt32(item.Price)</h2>
                                                <p>@item.Title</p>
                                                <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>BID NOW</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                }

                            </div>

                        </div>

                    </div>
                </div><!--/recommended_items-->

            </div>
        </div>
    </div>
   
</section>

@section scripts{
    <script>
        function startTimer(duration, display) {
            var start = Date.now(),
                diff,
                days,
                hours,
                minutes,
                seconds;
            function timer() {
                // get the number of seconds that have elapsed since 
                // startTimer() was called
                diff = duration - (((Date.now() - start) / 1000) | 0);


                //// get total seconds between the times
                //var delta = Math.abs(date_future - date_now) / 1000;

                // calculate (and subtract) whole days
                days = Math.floor(diff / 86400);
                diff -= days * 86400;

                // calculate (and subtract) whole hours
                hours = Math.floor(diff / 3600) % 24;
                diff -= hours * 3600;

                // calculate (and subtract) whole minutes
                minutes = Math.floor(diff / 60) % 60;
                diff -= minutes * 60;

                // what's left is seconds
                seconds = Math.floor(diff % 60);  // in theory the modulus is not required

                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = days + " :" + hours + " :" + minutes + " :" + seconds;

                if (diff <= 0) {
                    // add one second so that the count down starts at the full duration
                    // example 05:00 not 04:59
                    start = Date.now() + 1000;
                }
            };
            // we don't want to wait a full second before the timer starts
            timer();
            setInterval(timer, 1000);
        }


           var test = document.getElementById('test').value;
           var exp = new Date(test);
           var now = new Date();
           if (exp < now) {
               var difference = Math.abs(now - exp) / 1000;
           } else {
               var difference = Math.abs(exp - now) / 1000;
               display = document.querySelector('#bid_timer');
               startTimer(difference, display);
           }
           
        
       
        </script>
    }
