@model IEnumerable<GeneralCMS.DAL.MenuItem>

@{
    ViewBag.Title = "Menu Items";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- TABLE: LATEST ORDERS -->
<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Menu</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @foreach (var MainMenu in Model.Where(x => x.MenuID == 1 && x.ParentID == 0))
        {
            <ul>
                <li>
                    @MainMenu.MenuItemID : <b> @MainMenu.Title</b>
                    <span class="">
                        <a href="@Url.Action("EditMenuItem","Manage_Menu",new { id = MainMenu.MenuItemID, area ="Admin"})">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>&nbsp;<a href="@Url.Action("DeleteMenuItem","Manage_Menu",new { id = MainMenu.MenuItemID, area ="Admin"})">
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    </span>
                    <!--Region Unit-->
                    @foreach (var SubMenu in Model.Where(x => x.ParentID == MainMenu.MenuItemID))
                    {
                        <ul>
                            <li>
                                @SubMenu.MenuItemID : <b>@SubMenu.Title</b>
                                <span class="">
                                    <a href="@Url.Action("EditMenuItem","Manage_Menu",new { id = SubMenu.MenuItemID, area ="Admin"})">
                                        <i class="glyphicon glyphicon-edit"></i>
                                    </a>&nbsp;<a href="@Url.Action("DeleteMenuItem","Manage_Menu",new { id = SubMenu.MenuItemID, area ="Admin"})">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </a>
                                </span>
                                <!--District Minor-->
                                @foreach (var MinorMenu in Model.Where(x => x.ParentID == SubMenu.MenuItemID))
                                {
                                    <ul>
                                        <li>
                                            @MinorMenu.MenuItemID : <b> @MinorMenu.Title</b>
                                            <span class="">
                                                <a href="@Url.Action("EditMenuItem","Manage_Menu",new { id = MinorMenu.MenuItemID, area ="Admin"})">
                                                    <i class="glyphicon glyphicon-edit">Edit</i>
                                                </a>&nbsp;<a href="@Url.Action("DeleteMenuItem","Manage_Menu",new { id = MinorMenu.MenuItemID, area ="Admin"})">
                                                    <i class="glyphicon glyphicon-remove">Delete</i>
                                                </a>
                                            </span>
                                        </li>
                                    </ul>
                                }
                                <!-- ./Minor Categories-->
                            </li>
                        </ul>
                    }
                    <!-- ./Pages-->
                </li>
            </ul>
        }
        <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
        <a href="@Url.Action("AddMenuItem","Manage_Menu", new { area="Admin"})" class="btn btn-sm btn-info btn-flat pull-left">Add New Menu Item</a>
        <a href="@Url.Action("Index","Manage_Menu", new { area="Admin"})" class="btn btn-sm btn-default btn-flat pull-right">Edit Menu Items</a>
    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
